* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.main-header {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
    align-items: center;
    background: rgba(255, 144, 14, 0.10)
}

.chilled-header h1 {
    color: #424242;
    text-align: center;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    display: block;
}

.chilled-header ul li {
    color: #424242;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    display: inline-block;
    padding: 0px 20px;
}

.chilled-banner {
    width: 862px;
    display: inline-block;
    text-align: center;
}

.text-banner {
    text-align: center;
    margin-top: 50px;
}

.chilled-banner h1 {
    color: #131313;
    font-size: 67px;
    font-weight: 700;
}

.chilled-banner p {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
}

.chilled-banner button {
    border-radius: 8px;
    background: #FF900E;
    border: none;
    padding: 10px 20px;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    cursor: pointer;
}

.img-banner {
    padding: 50px 200px;
    background-color: lightgray 0px -94.291px / 100% 137.109% no-repeat;
}

.main-fichers {
    padding: 50px 200px;
}

.main-fichers {
    display: flex;
    align-items: center;
    gap: 100px;
}

.chilled-fichers-2 h1 {
    font-size: 42px;
    font-weight: 800;
}

.chilled-fichers-2 p {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

.chilled-fichers-2 button {
    border-radius: 8px;
    background: #FF900E;
    border: none;
    padding: 10px 20px;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    cursor: pointer;
}

.main-img-fichers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}